* body {
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
}

/* NAVIGATION BEGINS */
nav {
    margin: 0;
    overflow: hidden;
    text-align: center;
}

nav ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.navbar {
    height: 60vh;
    background: url(../images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 0px;
}

.navigation {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 50px;
}

.logo {
    padding-left: 160px;
    
}

.top-nav {
    display: inline-flex;
    padding-right: 160px;
}

nav ul li {
    display: inline-flex;
    padding-left: 30px;
}

/* NAVIGATION ENDS */

/* BODY BEGINS */

/* CONTAINER CREATION BEGINS */

.container {
    background-color: grey;
}

.card-wrapper {
    margin: auto;
    width: 50%;
}

.cards {
    /* width: ; */
    background-color: #FFF;
    border-radius: 10px;
    margin: auto;
}

/* FIRST CARD BEGINS */

.first-card {
    height: 250px;
    position: relative;
    top: -100px;
    z-index: 1;
    margin-bottom: 30px;
}

.head-text {
    text-align: center;
}

.head-text {
    position: relative;
    top: -30px;
}

.head-buttons {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.head-buttons > .btn {
    background-color: hsl(176, 50%, 47%);
    border: none;
    padding: 20px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin: 0px 60px;
}

.head-buttons > button > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: hsl(176, 72%, 28%);
}

.bookmark {
    border: none;
    padding: 20px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin: 0px 60px;
    position: relative;    
}

.bookmark > a {
    color: hsl(0, 0%, 48%);
}

.bookmark-icon {    
    size: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

/* FIRST CARD ENDS */

/* SECOND CARD BEGINS */

.second-card {
    position: relative;
    top: -50px;
    padding: 5px 50px;
    display: flex;
    text-align: center;
}

/* SECOND CARD ENDS */


/* THIRD CARD BEGINS */

.third-card {
    margin: auto;
}

.sc {
    margin-bottom: 20px;
}

.scb {
    background-color: hsl(176, 50%, 47%);
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}



.third-card h2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.third-card > p {
    padding: 0px 30px;
    font-size: 16px;
    /* to style paragraphs */
}

.small-card-wrapper {
    padding: 30px 30px;
}

.small-cards {
    border: 1px solid grey;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

.small-card-head {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.small-card-head > h3 {
    padding-left: 30px;
}

.small-card-head > a {
    padding-right: 30px;
    color: hsl(176, 50%, 47%);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    bottom: 10;
}

.small-cards p {
    padding-left: 30px;
    text-align: left;
}

.small-card-foot {
    display: flex;
    justify-content: space-between;
}

.small-card-foot > p:not(.left) {
    padding-left: 30px;
    color: #000;
    font-weight: 900;
}

.small-card-foot button {
    margin-right: 30px;
}

.small-card-foot > button > a {
    text-decoration: none;
    color: #FFF;
}


/* THIRD CARD ENDS */

