* body {
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
}

/* NAVIGATION BEGINS */
nav {
    margin: 0;
    overflow: hidden;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #FFF;
    cursor: pointer;
}

.navbar {
    height: 60vh;
    background: url(../images/image-hero-desktop.jpg) no-repeat;
    background-size: auto;
    padding-bottom: 0px;
}

.navigation {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 50px;
}

.logo {
    padding-left: 160px;
    
}

.top-nav {
    display: inline-flex;
    padding-right: 160px;
}

nav ul li {
    display: inline-flex;
    padding-left: 30px;
}

/* NAVIGATION ENDS */

/* BODY BEGINS */

/* CONTAINER CREATION BEGINS */

.container {
    background-color: grey;
}

.card-wrapper {
    margin: 0px 300px;
    width: 50%;
}

.cards {
    background-color: #FFF;
}

/* FIRST CARD BEGINS */

.first-card {
    border-radius: 10px;
    height: 250px;
    position: relative;
    top: -100px;
    z-index: 1;
}

.head-text {
    text-align: center;
}

.head-text {
    position: relative;
    top: -30px;
}

/* background-color: hsl(176, 72%, 28%); */

.head-buttons > .btn {
    background-color: hsl(176, 50%, 47%);
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin: 0px 20px;
}

.head-buttons > button > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: hsl(176, 72%, 28%);
}